@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: 'Open Sans';
    background-color: rgb(3, 3, 3);

}

.header__nav {
    display: flex;
    flex-direction: column;

}

.header__figure img {
    width: 45px;
    display: flex;
    align-content: center;
    background-position: left;
    align-content: center;
    cursor: pointer;
}

.header__figure {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 2em;
}

.div__img__videoTube__form {
    align-items: center;
    display: flex;
    flex-direction: row;


}

.videotube {
    font-family: "impact";
    font-style: normal;
    font-size: 35px;
    display: flex;
    margin-block-end: 20px;
    margin-inline-start: 15px;
    margin-inline-end: 60px;
    color: #fff;
    position: center;
}

img {
    display: flex;
    border-radius: 20px;
    overflow: auto;
    position: center;
    height: 43px;
    width: 500px;
}

.search-video {
    border: solid 1px #ccc;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    margin: auto;
}

.search-video input {
    border: none;
    outline: none;
    color: #ccc;
    pad: 30px;
    font-size: 19px;
    flex: auto;
}

.search-video .actions {
    display: flex;
    gap: 10px;
}

.search-video .actions button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #aaa;
}

.search-video .actions button:hover {
    color: #2979e2;
    text-decoration-color: #aaa;
}



.search-video:focus-within {
    border: solid 1px #aaa;
    box-shadow: 0px 2px 5px rgba(35, 35, 36, 0.2);
}

.search-video input {
    border: none;
    outline: none;
    color: #ccc;
    pad: 30px;
    font-size: 19px;
    flex: auto;
}

.search-video .actions {
    display: flex;
    gap: 10px;
}

.search-video .actions button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #aaa;
}

.search-video .actions button:hover {
    color: #2979e2;
    text-decoration-color: #aaa;
}

.div__button {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    padding: 10px 5px;
    gap: 10px;
}

.div__button button {
    border-radius: 5px;
}

.div__button button:hover {
    background-color: #aaa;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

iframe {
    display: flex;
    width: 600px;
    height: 450px;
    background-position: center;
    position: relative;

}

h1 {
    align-items: center;
    line-height: 100px;
    font: message-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    color: #fff;
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: initial;
}

.footer {
    color: #fff;
    display: flex;
    align-items: center;
}

.actions {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 12px 32px;
    gap: 10px;

    width: 88px;
    height: 40px;

}

.imgs__video {
    width: 230px;
    height: 140px;
    position: relative;
    display: flex;

}

h4 {
    color: #fff;
    align-items: center;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1.5em;
    font-weight: bold;
}

.video__enlistados {
    display: flex;
}

.video__enlistados .main_video{
    padding: 20px 70px;
}

.video__enlistados .section__iframe{
    padding: 20px 30px;
    
}
@media screen and (max-width: 600px) {

    header,
    .header__nav,
    .div__img__videoTube__form,
    .video__enlistados {
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {

    iframe,
    .video__enlistados .section__iframe{
        width: 250px;
        height: 140px;
    

    }
}