@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 90px;
    font-family: 'Open Sans';
    background-color: rgb(0, 0, 0);

}

.header__nav {
    display: flex;
    align-items: center;
}

.header__figure img {
    width: 45px;
    display: flex;
    align-content: center;
    background-position: left;
    align-content: center;
    cursor: pointer;
}

.header__figure {
    align-items: normal;
    display: flex;
}

.videotube {
    font-family: "impact";
    font-style: normal;
    font-size: 35px;
    width: 130px;

}

img {
    border-radius: 20px;
    overflow: auto;
    position: center;
    height: 43px;
    width: 500px;
    align-content: center;
}

p {
    display: flex;
    margin-block-end: 20px;
    margin-inline-start: 15px;
    margin-inline-end: 60px;
    color: #fff;
    position: center;

}

figure {
    display: flex;
    margin-block-start: 3em;
    margin-block-end: 3em;
}

iframe {
    border: none;
    border-radius: 20px;

}

.container__video {
    margin: 2px;
    border-radius: 15px;
    width: 300px;
}

.div__img__videoTube__form {
    align-items: center;
    display: flex;
}

.input__barra {
    position: center;
    height: 40px;
    width: 500px;
    align-content: center;
}

.submit {
    height: 40px;
    width: 80px;
}

form {
    color: #fff;
    align-content: center;
    display: flex;
}

.div__button {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

button {
    background-color: rgb(196, 194, 192);
    width: 140px;
    height: 28px;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    box-sizing: initial
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main_video {
    display: flex;
    flex-wrap: wrap;
    gap: -5px;

}
.imgs__video{
    width: 280px;
    height: 130px;
}

@media screen and (max-width: 600px) {
    .header__nav {
        flex-direction: column;
    }
}