@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: 'Open Sans';
    background-color: rgb(0, 0, 0);

}

.header__nav {
    display: flex;
    flex-direction: column;

}

.header__figure img {
    width: 45px;
    display: flex;
    align-content: center;
    background-position: left;
    align-content: center;
    cursor: pointer;
}

.header__figure {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 2em;
}

.videotube {
    font-family: "impact";
    font-style: normal;
    font-size: 35px;
    display: flex;
    margin-block-end: 20px;
    margin-inline-start: 15px;
    margin-inline-end: 60px;
    color: #fff;
    position: center;

}

img {
    display: flex;
    border-radius: 20px;
    overflow: auto;
    position: center;
    height: 43px;
    width: 500px;
}

.container__video {
    border-radius: 15px;
    width: 250px;
    align-items: center;
    text-align: center;
}

.div__img__videoTube__form {
    align-items: baseline;
    display: flex;
    align-content: baseline;
}

.div__button {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    padding: 10px 5px;
    gap: 10px;
}
.div__button button{
    border-radius: 5px;
}
.div__button button:hover{
    background-color: #aaa;
}

.main {
    display: flex;
    flex-direction: column;
    align-items:  baseline;
    gap: 15px;
}

/*imagenes par direecionar al video*/
.main_video {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

article {
    display: flex;
    flex-direction: column;
}

article:hover {
    overflow: hidden;
    transform: scale(1.10);
}

.imgs__video {
    width: 240px;
    height: 140px;
}

h4 {
    color: #fff;
    align-items: center;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1.5em;
    font-weight: bold;
}

/*mensaje hecho con amor*/
.footer {
    color: #fff;
}

.search-video {
    border: solid 1px #ccc;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    margin: auto;
}

.search-video:focus-within {
    border: solid 1px #aaa;
    box-shadow: 0px 2px 5px rgba(35, 35, 36, 0.2);
}

.search-video input {
    border: none;
    outline: none;
    color: #ccc;
    pad: 30px;
    font-size: 19px;
    flex: auto;
}

.search-video .actions {
    display: flex;
    gap: 10px;
}

.search-video .actions button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #aaa;
}

.search-video .actions button:hover {
    color: #2979e2;
    text-decoration-color: #aaa;
}

.actions {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 12px 32px;
    gap: 10px;

    width: 88px;
    height: 40px;

}


/*formulario*/
#openModal {
    display: flex;
    list-style: none;
    gap: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none,
}

.modalDialog {
    display: flex;
    align-items: center;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 3;
    pointer-events: auto;
}

.modalDialog>div {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #606061;
    color: cornsilk;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 12px;

    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.enviar {
    align-items: center;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-weight: bolder;
    font-family: cursive;
    display: flex;
    text-align: center;
    background-color: cornsilk;
    margin: 10px;
    padding: 3px 9px;
    border-width: 1px;
}

label {
    text-align: center;
    display: flex;
    padding: 5px;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

.urlVideo,
.urlImg,
.name {
    display: flex;
    width: 255px;
    height: 25px;
    border-radius: 15px;
}

.category {
    display: flex;
    width: 255px;
    height: 25px;
    border-radius: 15px;
}


@media screen and (max-width: 600px) {

    header,
    .header__nav,
    .div__img__videoTube__form {
        flex-direction: column;
    }
}