@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 80px;
    font-family: 'Open Sans';
  
}

.header__nav {
    display: block;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.header__figure img {
    width: 50px;
    display: flexbox;
    align-content: center;
    background-position: left;
    align-content: center;

}

.videotube {
    font-family: "impact";
    font-style: normal;
    font-size: -webkit-xxx-large;
    width: 200px;
    height: 5px;

}

p {
    display: inline-flex;
    margin-block-end: 20px;
    margin-inline-start: 15px;
    margin-inline-end: 50px;
    color: #fff;
}

figure {
    display: flex;
    margin-block-start: 3em;
    margin-block-end: 3em;

}

iframe {
    border: none;
    border-radius: 20px;

}

.container__video {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 325px;
    

}

.container__video:hover {
   background-color: aqua;
}

form {
    color: #fff;
    align-content: center;
    display: block;
}

button {
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    gap: 15px;
    width: 100px;
    height: 20px;
    background-color: rgb(138, 181, 193);
}

.main_video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
   
}

@media screen and (max-width: 600px) {
    .header__nav {
        flex-direction: column;
    }
}